@import '@fontsource-variable/noto-sans-arabic';
@import '@fontsource-variable/source-sans-3';

:root {
    --off-black: #101010;
    --off-white: #f4f4f4;
    --green: #53B96A;
  }

body {
    max-width: 650px;
    margin: 10px auto;
    padding: 0 10px;
    line-height: 1.5;
    font-family: 'Source Sans 3 Variable', -apple-system, sans-serif;
    color: var(--off-white);
    background: var(--off-black);
}

h1,
h2 {
    line-height: 1.2;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin: 0;
}

a {
    transition: color 0.3s ease;
}

a:link {
    color: var(--off-white);
}

a:visited {
    color: var(--off-white);
}

a:hover {
    color: var(--green);
}

section+section::before {
    content: '';
    display: block;
    width: 60%;
    height: 1px;
    background-color: var(--off-white);
    margin: 0 auto;
}

.until {
    font-style: italic;
    font-weight: 600;
}

.arabic {
    font-family: 'Noto Sans Arabic Variable', sans-serif;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.invite {
    text-align: right;
}

.focus {
    font-weight: 700;
}

input {
    background: transparent;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    border: 1px solid #f4f4f4;
    border-radius: 99999rem;
    padding-inline: 0.5rem;
    padding-block: 0.2rem;
}